### 01. 큰 DataFrame 살펴보기
데이터가 방대한 경우, 이를 보기좋게 컨트롤하는 능력 필요

#### 데이터 프레임 확인
- 데이터 프레임의 전체 스케일 
    - df.shape
- 콜럼 확인
    - df.columns
- 각 콜럼에 대한 기본 정보
    - df.info()
- DF의 통계 정보
    - df.describe() : 각 컬럼에 대한 통계값들(편차 등등)

    
- 앞의 n줄만 보고 싶을 때
    - df.head(n)
- 뒤에 n줄만 보고 싶을 때
    - df.tail(n)

---
#### 데이터 프레임 정렬 
- df.sort_values(by='price')
- 내림차순 : ascending = False
    - df.sort_values(by='price', ascending = False)
- 본질적인 수정 X -> inplace = True해야 바뀜 
    - df.sort_values(by='price', ascending = False, inplace = True)

In [2]:
import pandas as pd

In [ ]:
laptops_df = pd.read_csv('data/laptops.csv')
laptops_df

In [6]:
laptops_df.sort_values(by = 'price', ascending = True, inplace = True)
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN

### 02. 큰 Series 살펴보기
예제로 확인

In [13]:
print('어떤 컬럼(브랜드)만 보고 싶을 때')
print(laptops_df['brand'])

print("=========================")
print("=========================")

# 중복 제거해서 보기..
print('컬럼 값들이 겹치는 경우, 중복 제거하고 싶을 때')
print(laptops_df['brand'].unique())

print("=========================")
print("=========================")

# 컬럼 각 요소 접근
print('각 컬럼 값에서 값들의 개수를 세고 싶을 때')
print(laptops_df['brand'].value_counts())

print("=========================")
print("=========================")

# 컬럼 값들의 요약본 
print(laptops_df['brand'].describe()) # 전체 개수, 중복 제외한 값, 최다 빈출 값,

어떤 컬럼(브랜드)만 보고 싶을 때
148         Acer
83          Acer
108         Acer
100         Acer
73          Acer
         ...
154    Microsoft
31          Acer
96     Alienware
90     Alienware
5          Apple
Name: brand, Length: 167, dtype: object
=========================
=========================
컬럼 값들이 겹치는 경우, 중복 제거하고 싶을 때
['Acer' 'Asus' 'Dell' 'HP' 'Lenovo' 'Apple' 'Microsoft' 'Alienware']
=========================
=========================
각 컬럼 값에서 값들의 개수를 세고 싶을 때
HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Microsoft     6
Alienware     6
Name: brand, dtype: int64
=========================
=========================
count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

### 03. [실습] 여행지 선정하기(1)

In [20]:
import pandas as pd

df = pd.read_csv('data/world_cities.csv')
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

여행을 좋아하는 익중이는 여행지를 알아보고 있습니다. 주어진 데이터에는 총 몇 개의 도시와 몇 개의 나라가 있는지 알아맞혀 보세요.

답안은 도시/나라 형식으로 숫자만 입력해 주세요. (예시: 156/77)

In [26]:
# 방법 2가지
df['City / Urban area'].describe() # city : 249개
df['City / Urban area'].value_counts().shape

(249,)

In [28]:
df['Country'].describe() # country : 61개
df['Country'].value_counts().shape

(61,)